
@font-face {
    font-family: 'Mikhmoret Rounded DL 1.1 AAA';
    src: url('../fonts/MikhmoretRoundedDL11AAA-Bold.eot');
    src: url('../fonts/MikhmoretRoundedDL11AAA-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MikhmoretRoundedDL11AAA-Bold.woff2') format('woff2'),
        url('../fonts/MikhmoretRoundedDL11AAA-Bold.woff') format('woff'),
        url('../fonts/MikhmoretRoundedDL11AAA-Bold.ttf') format('truetype'),
        url('../fonts/MikhmoretRoundedDL11AAA-Bold.svg#MikhmoretRoundedDL1.1AAA-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almoni ML v5 AAA';
    src: url('../fonts/AlmoniMLv5AAA-Medium.eot');
    src: url('../fonts/AlmoniMLv5AAA-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AlmoniMLv5AAA-Medium.woff2') format('woff2'),
        url('../fonts/AlmoniMLv5AAA-Medium.woff') format('woff'),
        url('../fonts/AlmoniMLv5AAA-Medium.ttf') format('truetype'),
        url('../fonts/AlmoniMLv5AAA-Medium.svg#AlmoniMLv5AAA-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Almoni ML v5 AAA';
    src: url('AlmoniMLv5AAA-Bold.eot');
    src: url('AlmoniMLv5AAA-Bold.eot?#iefix') format('embedded-opentype'),
        url('AlmoniMLv5AAA-Bold.woff2') format('woff2'),
        url('AlmoniMLv5AAA-Bold.woff') format('woff'),
        url('AlmoniMLv5AAA-Bold.ttf') format('truetype'),
        url('AlmoniMLv5AAA-Bold.svg#AlmoniMLv5AAA-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
	--primery-color: #F19544;
	--secondary-color: #5FBA94;
	--myBlack-color: #000000;
    --call2action: #55a5e2;
    --call2actionHover:#4078a3;
    --light-grayBG:#f6f6f6;
}

.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: var(#fff);
    position: absolute;
}

.loader > div {
    height: 100px;
    width: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    -webkit-animation: spin 1.5s infinite linear;
            animation: spin 1.5s infinite linear;
}

.loader > div img {
    width: 100%;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotatey(360deg);
                transform: rotatey(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotatey(360deg);
                transform: rotatey(360deg);
    }
}

.content {
    display: none;
    overflow: hidden;
}

body {
	direction:rtl;
	font-family: 'Mikhmoret Rounded DL 1.1 AAA', 'Almoni ML v5 AAA';
    overflow-x: hidden;
    font-size: 18px;
}


/*** Global Style ***/

h1 {
	font-family: 'Mikhmoret Rounded DL 1.1 AAA';
    color: var(--light-grayBG);
    font-weight: bold;
    font-size: 43.2px;
    font-size: 43.2px;
    font-size: 2.7rem;
}

h2 , h3 ,h4 {
	font-family: 'Mikhmoret Rounded DL 1.1 AAA';
    color: var(--primery-color);
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.6rem;
    text-align: center;
}

h4 {
    font-size: 1.3rem;
    text-align: center;
}

p {
	font-family: 'Almoni ML v5 AAA';
    font-size: 1rem;
}

section {
    padding: 40px 0;
}

section:nth-child(even) {
    background-color: rgb(248, 248, 248);
}

button {
    background-color: var(--call2action);
    border: 0;
    outline: 0;
    color: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

button:hover {
    background-color: var(--call2actionHover);
}

input {
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: solid 1px #707070;
    font-size: 20px;
}

input#f-email {
    text-align: right;
    padding: 0 30px;
    color: var(--secondary-color);
    outline: none;
    width: 30%;
}

input[type="submit"] {
    background-color: var(--call2action);
    border: 0;
    outline: 0;
    color: #fff;
    padding:0px 40px;
    border-radius: 10px;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: var(--call2actionHover);
}

/*** Logo ***/
#myLogo {
	height: 60px;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
}

#myLogo.changeHeight {
	height: 45px;
}

/**** logo name changes ****/
#myLogo #logoName path {
	fill: #fff;
}

#myLogo.changeHeight #logoName path {
	fill: #000;
}

/**** logo slogan changes ****/
#logoSlogan path {
    fill: #fff;
}

#myLogo.changeHeight #logoSlogan path {
    fill: #000;
}

/*** navbar ***/
    #myBody .navbar {
        padding: 10px 2%;
        background: transparent !important;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }

    #myBody .navbar.changeHeader {
        background: white !important;
        border-bottom: 1px solid #ebebeb;
        border-radius: 0 0 10px 10px;
    }

    

    .navbar-expand-lg .navbar-collapse {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-right: 20%;
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
        border-radius: 10px;
    }

    .navbar-light .navbar-toggler {
        /* color: rgba(0,0,0,.55); */
        /* border-color: rgba(0,0,0,.1); */
        background-color: #fff;
    }

    /* nav links */
    li.nav-item {
        margin-left: 30px;
        font-size: 20px;
        position: relative;
    }

    #myBody .nav-link {
        color: #fff;
        font-weight: bold;
    }

    #myBody .nav-link.link {
        color: #000;
    }

	/***** change link color on scroll *****/
    #myBody .changeHeader .nav-link {
        color: #000000;
    }
	/* end */

    #myBody .nav-link:hover {
        color: var(--call2action);
    }

    /* active nav links */
    #myBody .nav-link.active {
        color: var(--call2action);
    }

    #myBody .nav-link.active:after {
        content: url(../assets/icons&symbols/nav_arrow.svg);
        position: absolute;
        top: 40px;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);
    }

    #myBody .nav-link.active.user_page:after {
        content: url("") !important;
    }

    /*** user icon ***/
    i.bi.bi-person-circle {
        font-size: 22px;
    }

    /*** hamburger Icon ***/
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2868, 148, 208' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }


/*** Main ***/

    /*** hero img ***/
    .hero_img {
        height: 400px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        overflow: hidden;
        position: relative;
    }

    .hero_img h1 {
        position: absolute;
        z-index: 1;
    }

    .hero_img img {
        -o-object-fit: cover;
           object-fit: cover;
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.2" /><feFuncG type="linear" slope="0.2" /><feFuncB type="linear" slope="0.2" /></feComponentTransfer></filter></svg>#filter');
        -webkit-filter: brightness(0.2);
                filter: brightness(0.2);
    }

    /*** hero ***/
    .hero {
        height: auto;
        background-color: var(--light-gray);
        overflow: hidden;
        position: relative;
        padding: 40px 0;
    }

    .blue_shape {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 3%;
    }

    .orange_shape {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 3%;
    }

/*** video ***/

    #theVideoBox {
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    #theVideoBox:hover .controls {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        border-radius: 0 0 14px 14px;
    }

    .myVideo {
        border-radius: 3%;
        position: relative;
        left: 0;
        top: 0;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    /* video controls */
    .controls {
        display: block;
        position: absolute;
        bottom:0;
        right: 0;
        left: 0;
        margin-left:auto;
        margin-right:auto;
        padding: 0;
        width: 81.5%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 5;
        -webkit-transform: translateY(100%) translateY(-5px);
                transform: translateY(100%) translateY(-5px);
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
        border-radius: 0 0 16px 16px;
    }

    .videoButtons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 0 35%;
    }

    .videoButtons button {
        background:none;
        padding: 10px 10px;
        -webkit-animation: 0.3s ease all;
                animation: 0.3s ease all;
    }

    .videoButtons button:hover {
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }

    .videoButtons button:active {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.5" /><feFuncG type="linear" slope="0.5" /><feFuncB type="linear" slope="0.5" /></feComponentTransfer></filter></svg>#filter');
        -webkit-filter: brightness(0.5);
                filter: brightness(0.5);
    }

    .videoButtons #play_pause:before {
        content: url("../assets/icons&symbols/play_btn.svg");
        width: 30px;
        height: 30px;
        display: inline-block;
        font-size: 28px;
        color: #fff;
        -webkit-font-smoothing: antialiased ;
        fill: var(--secondary-color);
    }

    .videoButtons button.play:before {
        content: url("../assets/icons&symbols/play_btn.svg") !important;
    }

    .videoButtons button.pause:before {
        content: url("../assets/icons&symbols/pause_btn.svg") !important;
        fill: var(--secondary-color);
    }

    .videoButtons #resize:before {
        width: 30px;
        height: 30px;
        display: inline-block;
        font-size: 28px;
        color: #fff;
        -webkit-font-smoothing: antialiased ;
        fill: var(--secondary-color);
    }

    .videoButtons button#resize:before {
        content: url("../assets/icons&symbols/increase_btn.svg") !important;
    }   

    .videoButtons button#volumeIcon.unMute:before {
        content: url("../assets/icons&symbols/volumeIcon_btn.svg") !important;
    }

    .videoButtons button#volumeIcon.mute:before {
        content: url("../assets/icons&symbols/volumeIconMuted_btn.svg") !important;
    }

    .volumeBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
    }

    input.volume {
        position: absolute;
        right: 60px;
        top: 18%;
        display: block;
    }

    .time_bar {
        height: 23px;
        position: absolute;
        bottom: 27px;
        right: 0;
        left: 0;
        width: 20%;
        color: #fff;
        padding: 0 10px;
    }

    .player-controls {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        -webkit-transform: translateY(100%) translateY(-5px);
                transform: translateY(100%) translateY(-5px);
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        background: rgba(0, 0, 0, 0.6);
      }
      
      .video-player:hover .player-controls {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }

    .time_bar .current {
        height: 10px;
    }

    #play_big_btn {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background-color: transparent;
        width: auto;
    }

    #play_big_btn:hover {
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }

    #play_big_btn:after {
        content: url("../assets/icons&symbols/play_big_btn.svg");
    }

    #pause_big_btn:after {
        content: url("../assets/icons&symbols/pause_big_btn.svg");
    }

    input#volume {
        position: absolute;
        top: 12px;
        right: 70px;
    }

    input[type="range"] {
        -webkit-appearance: none;
        background: transparent;
        margin: 0;
        width: 100px;
        padding: 0 10px;
        border: none;
    }

      input[type="range"]:focus {
        outline: none;
      }

      input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: rgb(255, 255, 255);
        border-radius: 10px;;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 10px;
        width: 10px;
        background: var(--call2action);
        border-radius: 50%;
        cursor: pointer;
      }

      input[type="range"]::-webkit-slider-thumb:hover {
        background: var(--call2actionHover);
      }

    .video-progress {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 20px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        background: rgba(0, 0, 0, 0.6);
        cursor: pointer;
        direction:ltr;
      }
      
      .video-progress-filled {
        width: 0;
        background: var(--call2action);
      }
      
      .video-progress-filled:hover {
        background: var(--call2actionHover);
      }
      
      .video-player:hover .video-progress {
        height: 20px;
      }


/*** open campaigns section ***/

    /* single campaign style */
    .campaign {
        border-radius: 10px;
        border: solid 1px #dcdcdc;
        overflow: hidden;
        position:relative;
    }

    .campaign:hover {
        cursor: pointer;
    }

    .campaign a {
        position:absolute;
        top:0;
        left:0;
        right: 0;
        width:100%;
        height:100%;
        z-index: 2;
    }

    .img_article_box {
        position: relative;
    }

    .hover_img_box {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }

    .hover_img_arrow {
        position:absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
    }

    .campaign .artcle_content {
        padding: 20px;
    }

    .campaign:hover .hover_img_box {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    .campaign .artcle_content h3 {
       text-align: right;
    }

    .campaign .artcle_content p {
        margin-bottom: 8.6px;
    }

    .campaign .artcle_content .campaign_numbers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        color: #8d8d8d;
    }

    .campaign_numbers span {
        font-weight: bold;
        color: var(--secondary-color);
    }

    .progress-bar {
        background-color: var(--secondary-color);
    }



/*** numbers section  ***/

    .icon_numbers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
    }

    .icon_numbers h3 {
        font-size: 48px;
        font-size: 3rem;
        margin: 0;
        color: var(--secondary-color);
    }

    .icon_numbers p {
        width: 70%;
    }


/*** quote section ***/

    .quote_box {
        position: relative;
    }

    .quoteIcon {
        position:absolute;
        top: -20px;
        right: -20px;
        z-index: -1;
    }

    .quote_box h3 {
        font-size: 36px;
        text-align: center;
        font-weight: bold;
    }

    .quote_box p {
        font-size: 21px;
        text-align: center;
        font-weight: bold;
    }

/*** activites section ***/


/*** App Content section ***/

    .app_section {
        background-image: url("../assets/icons&symbols/bg_gray_logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size:40%;
    }

    .app_content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-line-pack: center;
            align-content: center;
    }

    .app_section .app_content * {
        text-align: right;
    }

    .google_play, .app_store {
        display: inline-block;
    }

/*** email form ***/

    .email_form {
        padding: 40px 0;
        background-color: #e9e9e9;
    }

    .email_form form h2{
        font-size: 32px;
        text-align: right;
    }

    .email_form_box form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }


/*** footer ***/
    footer {
        padding: 40px 0;
        background-color: #111;
        background-image: url("../assets/icons&symbols/footer_symbols.svg");
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .footer_pgs_links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .footer_social_media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    .footer_pgs_links a{
        color: #fff;
        text-decoration: none;
        font-family: 'Almoni ML v5 AAA';
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
        width: auto;
    }

    .footer_pgs_links a:hover{
        color: var(--call2action);
    }

    .footer_social_media a{
        color: #fff;
        text-decoration: none;
        font-family: 'Almoni ML v5 AAA';
        -webkit-transition: 0.5s ease all;
        transition: 0.5s ease all;
        width: auto;
    }

    .footer_social_media a:hover{
        color: var(--call2action);
    }










/*********************
    PROJECTS PAGE
*********************/

    /* soon campaign */
    .soon_campaign .progress {
        height: 32px;
        height: 32px;
        height: 32px;
        height: 32px;
        height: 32px;
        height: 32px;
        height: 2rem;
        border-radius: 10px;
        background-color: #fff;
        border:solid 2px var(--call2action);
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
                    -ms-grid-row-align: flex-start;
                align-items: flex-start;
    }

    .soon_campaign .progress h3 {
        font-family: 'Almoni ML v5 AAA';
        color: var(--call2action);
        font-size: 20px;
    }

    .soon_section .campaign {
        cursor: default;
    }

    /* accordion */
    .accordion-flush .accordion-item {
        border-radius: 10px;
        margin-bottom: 20px;
    }
    
    .accordion-flush .accordion-item .accordion-button {
        background-color: var(--call2action);
        color: #fff;
        font-size: 20px;
    }

    .accordion-flush .accordion-item .accordion-button {
        border-radius: 10px;
    }

    *:focus {
        outline: none;
    }

    .accordion-flush .accordion-item .accordion-button.collapsed {
        border-radius: 10px;
        background-color: var(--call2action);
        color: white;
    }

    .accordion-flush .accordion-item .accordion-button.collapsed:hover {
        background-color: var(--call2actionHover);
    }

    .accordion-flush .accordion-item .accordion-button[aria-expanded="true"] {
        background-color: var(--call2actionHover);
    }

    .accordion-button:after {
        background-image: url("../assets/icons&symbols/accordion_arrow.svg");
        -webkit-transform-origin: center;
                transform-origin: center;
    }

    .accordion-button:not(.collapsed):after {
        background-image: url("../assets/icons&symbols/accordion_arrow.svg");
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }

    .accordion-button {
        background-color: var(--call2action);
    }








/*********************
    Social Action
*********************/
    .schoolsLectures p {
        text-align: center;
    }

    #social_action button:hover {
        background-color: transparent;
    }

    .carousel-inner {
        border-radius: 10px;
    }

    .cardsEvents .campaign .artcle_content {
        min-height: 220px;
    }

    .artcle_content .dateLocation {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;
        opacity: 0.5;
    }

    .artcle_content .dateLocation p i {
        margin-left: 5px;
        font-size: 20px;
    }

    .artcle_content .dateLocation p {
        display: flex;
        align-items: flex-start;
        font-weight: 700;
    }
    
    .artcle_content .dateLocation p .bi.bi-webcam-fill {
        font-size: 26px;
        margin-top: -4px;
    }
    







/*********************
    PROJECT SINGLE PAGE
*********************/

    .about_section p{
        width: 70%;
        margin: 0 auto;
    }

    .myTeam img{
        margin-bottom: 10px;
    }

    .myTeam h3{
        text-align: center;
    }

    .myTeam p{
        text-align: center;
    }

    .vision p {
        width: 70%;
        margin: 0 auto;
    }

    .contactUs input, textarea {
        text-align: right;
        margin-bottom: 10px;
        color: var(--secondary-color);
    }

    .contactUs textarea {
        width: 100%;
        height: 90px;
        resize: none;
        margin-bottom: 2px;
    }

    .contactUs input[type=submit] {
        width: 100%;
        color: #fff;
        text-align: center;
    }


/* single campaign */
    i.bi.bi-geo-alt-fill {
        margin-left: 10px;
        font-size: 35px;
    }

    .campaign_numbers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .campaignVideo img {
        width: 100%;
    }

    .campaignData {
        border-radius: 10px;
        border: solid 1px #dcdcdc;
        padding: 20px;
        height: 170px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .campaignData button {
        width: 100%;
        margin-top: 20px;
    }

    .single_campaign_box {
        display: -ms-grid;
        display: grid; 
        -ms-grid-columns: 2fr 1fr; 
            grid-template-columns: 2fr 1fr; 
        gap: 0px 3%; 
        grid-template-areas: 
          "donate_map_box video"
          "donate_map_box video"; 
    }

    .campaignImg img {
        width: 100%;
        border-radius: 10px;
        border: solid 1px #dcdcdc;
    }

    .donate_map_box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }

    .projectMap {
        width: 100%;
        height: 100%;
    }

    .projectMap iframe {
        width: 100%;
        height: 260px;
        border-radius: 10px;
        border: solid 1px #dcdcdc !important;
    }

    .donate_map_box.done button {
        background-color: #2e2e2e;
        cursor: default;
    }

    .donate_map_box.done button i::before {
        font-size: 25px;
        vertical-align: sub;
    }




/*************************
        BLOG PAGE
*************************/

    .blog .campaign .artcle_content {
        min-height: 253px;
    }

    .artcle_content .footerBlogPost {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .artcle_content .autherData {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .artcle_content .autherData img {
        height: 40px;
        margin-left: 10px;
    }

    .artcle_content .autherData h4 {
        text-align: right;
    }


/*************************
        SINGLE POST
*************************/

    .sub_title h2 {
        font-size: 2rem;
        text-align: right;
    }

    .sub_title .footerBlogPost {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
        margin-bottom: 30px;
    }

    .sub_title .autherData {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .sub_title .autherData img {
        height: 60px;
        margin-left: 10px;
    }

    .sub_title .autherData h4 {
        text-align: right;
        margin-bottom: 10%;
    }

    .sub_title .footerBlogPost .postDate p {
        margin-bottom: 20%;
    }

    .blog_content p {
        font-size: 1.2rem;
    }

    .blog_content p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    .blog_content p:nth-child(2) {
        font-weight: bold;
    }

    .earth p {
        margin-top: 0;
    }

    .blog_content h3 {
        text-align: right;
    }

    



    
    /* -------------------------------- 

            Main components 

    -------------------------------- */
    
    .cd-image-container {
        position: relative;
        width: 100%;
        margin: 0em auto;
      }
      .cd-image-container img {
        display: block;
      }
      
      .cd-image-label {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #ffffff;
        padding: 5px 20px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
        -webkit-transition: opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
        transition: opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
        transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
        transition: transform 0.3s 0.7s, opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
      }
      .cd-image-label.is-hidden {
        visibility: hidden;
      }
      .is-visible .cd-image-label {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      
      .cd-resize-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        overflow: hidden;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      .cd-resize-img img {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 100%;
        width: auto;
        max-width: none;
      }

      .cd-resize-img .cd-image-label {
        right: auto;
        left: 0;
      }

      .cd-image-label {
        background-color: var(--primery-color);
        border-radius: 10px;
        font-size: 24px;
        font-size: 1.5rem;
      }

      .is-visible .cd-resize-img {
        width: 50%;
        /* bounce in animation of the modified image */
        -webkit-animation: cd-bounce-in 0.7s;
        animation: cd-bounce-in 0.7s;
      }
      
      @-webkit-keyframes cd-bounce-in {
        0% {
          width: 0;
        }
        60% {
          width: 55%;
        }
        100% {
          width: 50%;
        }
      }
      @keyframes cd-bounce-in {
        0% {
          width: 0;
        }
        60% {
          width: 55%;
        }
        100% {
          width: 50%;
        }
      }
      
      .cd-handle {
        position: absolute;
        height: 44px;
        width: 44px;
        /* center the element */
        left: 50%;
        top: 50%;
        margin-left: -22px;
        margin-top: -22px;
        border-radius: 50%;
        background: var(--call2action) url("../img/cd-arrows.svg") no-repeat center center;
        cursor: move;
        box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.6), inset 0 1px 0 rgba(255, 255, 255, 0.3);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translate3d(0, 0, 0) scale(0);
        transform: translate3d(0, 0, 0) scale(0);
      }


      .cd-handle:hover {
        background: var(--call2actionHover) url("../img/cd-arrows.svg") no-repeat center center;
      }

      .cd-handle.draggable {
        /* change background color when element is active */
        background-color: #445b7c;
      }
      .is-visible .cd-handle {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translate3d(0, 0, 0) scale(1);
        transform: translate3d(0, 0, 0) scale(1);
        -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0s 0.7s;
        -webkit-transition: opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
        transition: opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
        transition: transform 0.3s 0.7s, opacity 0s 0.7s;
        transition: transform 0.3s 0.7s, opacity 0s 0.7s, -webkit-transform 0.3s 0.7s;
      }
    

    